In [ ]:
print("computer")

In [ ]:
print("hey,my name is taha")

# VARIABLES

In [ ]:
name='shehzad'
print(name)

In [ ]:
pname='iqbal'
print(pname)

In [ ]:
num1=22.02
print(type(num1))
num1='pakistan'
print(type(num1))

In [ ]:
num1=22.02
print(num1+56)
print(num1+56)
print(num1+56)

In [ ]:
num=input('Your name')
print(num)
print(type(num))

In [ ]:
print(string(num2))

In [ ]:
num4=int(input("your num:    "))
print(type(num4))
num0=int (input("your num:   "))
print(type(num0))

# Concatination

In [ ]:
age=10
print(age)
age += 10 #age=age+10 use *,/,-
print(age)

In [ ]:
greeting="hello"
adress="world"
print( greeting + " "+ adress)

In [ ]:
num0=input('Your name')
num1=input('Your F_name')
num2=int (input('Your maths marks'))
num3=int (input('Your chemistry marks'))
num4=int (input('Your urdu marks'))
num5=int (input('Your coding marks'))
print("****************************************************************************************")
print('* Mr: ' + num0 +" "+ 'Son of ' +num1)
print('* Marks in Maths ' + str(num2) + "   "+'Marks in chemistry'  + "   " + str(num3) )
print('* Marks in urdu ' + str(num4) +"   "+ 'Marks in coding'  + "   " +str(num5))

total=num2+num3+num4+num5
print('* Total marks:' +str(total))
per=(total/400) *100
print('* Your Percentage:'+str(per))
print("****************************************************************************************")

#####

# If/if_elif/If_elif_else

In [ ]:
human = 'taha'
name = input('name')
if (human== name):
    print("Its a Human")

In [ ]:
I

In [ ]:
human=input('If human write y: ')
if human=='y':
    gender=input("Write gender: ")
    if gender== 'male':
        print('its a male:   ')
    elif gender== 'female':
        print('Its a female: ')
    else:
        print('Un-specified')
else:
    print('not a human')
age=int(input('Enter your age: '))
if age>= 18:
    print("You are an Adult according to Islamic Republic of Pakistan")
else:
    print("You are not an Adult according to Islamic Republic of Pakistan")

In [ ]:
age =int(input ('What is your age'))
gender= input('Specify Your gender M/F')
salary_per_month=float(input('Enter your salary($):'))
if age<18:
    print("You Are Under age! ")
elif age>=60 and gender=='M' and salary_per_month <=100000:
    print('Issue life time Man card with tax')

elif age>=60 and gender=='F'and salary_per_month <=80000:
    print('Issue life time Female card')

elif age>=18 and salary_per_month <=100000 and (gender=='M' or gender=='F'):
    print('Issue short expiry card and apply tax')

else:
    print('Re-enter the information correctly')

In [ ]:
age =int(input ('What is your age'))
gender= input('Specify Your gender M/F')
salary_per_month=float(input('Enter your salary($):'))
if age<18:
    print("You Are Under age! ")
    
elif age>=60 :
    if gender=='M' and salary_per_month <=100000:
        print('Issue life time Man card with tax')
        
elif age>=60: 
    if gender=='F'and salary_per_month <=80000:
        print('Issue life time Female card')
        
else:
    if age>=18:
         print('Issue short expiry card and apply tax')

            
print("Thnks for using us")

In [ ]:
print(1 >=-1)
print(2 >=3)
print(5 >=(6-19))

In [ ]:
percentage= float(input('Enter Percentage:'))
subject = input('E for Pre-ENG,M for Medical')
if percentage >= 80 and subject=='E':
    print("You can go to NED")
elif percentage >=70 and subject=='E':
    print("You can go to  KU")
elif percentage >=80 and subject=='M':
    print("You can go to dow")
elif percentage >=70 and subject=='M':
    print("You can go to  KU")
else:
    print("You can go for private university")

# LIST(SLICING,DELETION,APPEND,INSERT,POP)

In [ ]:
khi_temp=[45,15,25,35,45,6]
khi_temp.append(2)
khi_temp.append(8)
khi_temp.insert(5,'faizan')
print(khi_temp)
#del khi_temp[0:2]
khi_temp.remove("faizan")
print(khi_temp)
#slicing
#khi_temp[-7:]
khi_temp[4:7]
print (khi_temp.pop(0))
print(khi_temp)

In [ ]:
#Tupple (value change nh krskty)
pk_t=(10,18,17)
#print(len(pk_t))
for i in pk_t:
    print(i+1-5/6*5)
#print(pk_t[0])
#print(pk_t[1])
#print(pk_t[2])

In [ ]:
number=[10,2,3,4,5,-3,7]
min_value=number[0]
for val in number:
    if val<min_value:
        min_value=val
print (min_value)

# List(Slicing)

In [ ]:
#List(slicing)
list=['A','A','A','B','C','A','D','D','E']
a=list[0:3]
e=list[3:6]
f=list[6:]
print(a,e,f)
lista='AAABCADDE'
b=lista[:5]
c=lista[5:]
#d=lista[6:]
print(b,'\n',c)

# LIST TO Tupples/TUPPLE TO LIST

In [ ]:
X=[1,2,3]
Y=tuple(X)
print(Y)
T=list(Y)
print(T)

# LOOPS

In [ ]:
CITY_TO_CHECK="LAHOE"
CLEANEST_CITIES=['LAHORE','PESHAWAR','HYDERABAD','SUKKUR','JAMSHORO']
for i in CLEANEST_CITIES:
    if CITY_TO_CHECK==i:
        print("Cleanest cities")
        break
        print("Cleanest cities")

In [ ]:
cities=['karachi','Lahore','Faisalabad','Rawalpindi','Gujranwala','kohat','Peshawar','Multan','Saidu Sharif','Hyderabad City','Islamabad']

for cities_in_k in cities:
    if 'k' in cities_in_k:
        print(cities_in_k)
print("")
a=[]
for cities_not_in_k in cities:
    if 'k' not in cities_not_in_k:
        print(cities_not_in_k)

In [ ]:
name_list=['arif','kamran','sarman','asad','imran','sameer','nasir','rafeeq','rasheed','fareed']
age_list=['15.6','16.7','15.8','14.9','16.0','15.1','15.2','14.3','15.4','16.5']
marks_list=['70','80','90','60','65','67','75','85','77','70']
loc=name_list.index('asad')
print(loc)
marks_sarman=marks_list[loc]
print(marks_sarman)
age_sarman=age_list[loc]
print(age_sarman)

In [ ]:
data=""""karachi
kohat

Lahore
Faisalabad
Rawalpindi
Gujranwl
Peshwr
Multn
Sidu Shrif
Hyderabad City
Islmbd"""
lista=list(data)
print(lista)
for i in data:
    if 'a' in i:
        print(i)
for i in data:
    if 'b' in i:
        print(i)
for i in data:
    if 'c' in i:
        print(i)
for i in data:
    if 'd' in i:
        print(i)

In [ ]:
size =  [523, 645, 708, 1034, 2290, 2545]#x
prices = [115, 150, 216, 280, 255, 440]#y
multiplyer=[]
m=0
loc=0
#y=mx+b
#m=y-b/x
for loc in range(len(prices)):
    m=prices[loc]/size[loc]
    multiplyer.append(m)
print(multiplyer)
#Mean
c=sum(multiplyer)/len(multiplyer)
print(c)
for loc in range(len(size)):
    t=c*size[loc]
    print(t)

In [ ]:
num=int(input("Enter any number"))
sum=0
for a in range(0,num):
    sum=num+sum
    num-=1
print(sum)

#Dictionary

In [3]:
student_1197={
    "Name":"M.Taha",
    "Class":"14th",
    "Marks":[40,45,50,55],
    }

a=student_1197["Marks"]
#print(a[0])
quiz1=a[0]
quiz2=a[1]
mids=a[2]
finals=a[3]
test=input("Enter Test you want num of:")
if test== "quiz1":
    print(quiz1)
elif test=="quiz2":
    print(quiz2)

elif test=="mids":
    print(mids)
    
elif test=="finals":
    print(finals)
else:
    print("invalid")

Enter Test you want num of:7
invalid

In [8]:
student_1197={
    "Name":"M.Taha",
    "Class":"14th",
    'Marks':{"Quiz1":40,
             "Quiz2":45,
              "mid":50,
              "final":55 }
    }
result=student_1197["Marks"]
exam=input("Enter Marks you want:")
exam = exam.title()
print(result[exam])

Enter Marks you want:quiz1
40

In [22]:
student=[]
class1={
    "name":"AI",
    "marks":
    {
        "quiz1":40,
        "Quiz2":45,
        "mid":50,
        "final":55 
        
    }
}
class2={
      "name":"Cnc",
    "marks":
    {
        "quiz1":40,
        "Quiz2":45,
        "mid":50,
        "final":55 
        
    }
}
student_1={
    "Name":"Taha",
    "Class_AI":class1,
    "Class_Cnc":class2
}
student.append(student_1)
print(student_1["Class_AI"])

{'name': 'AI', 'marks': {'quiz1': 40, 'Quiz2': 45, 'mid': 50, 'final': 55}}

In [32]:
customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
"discounts": ["standard", "volume", "loyalty"],
}
discount_amount=0
if "standard" in customer_29876["discounts"]:
    discount_amount += .30
if "loyalty" in customer_29876["discounts"]:
    discount_amount += .15
if "volume" in customer_29876["discounts"]:
    discount_amount += .10
print(discount_amount)

0.5499999999999999